#logo{
    margin-top:-20px;
    margin-left:40px;
}
#top{
    position:absolute;
    margin-top:-52px;
    margin-left:190px;
}

#top2{
    position:absolute;
    margin-top:-50px;
    margin-left:885px;
}

.usti{
    font-size:90%;
    font-family:calibri;
    font-weight:lighter;

}
#lupa{
    position:absolute;
    margin-top:1px;
    margin-left:896px;
}
#korzina{
    position:absolute;
    margin-top:-4px;
    margin-left:930px;
}
#adam{
    position:absolute;
    margin-top:-1px;
    margin-left:965px;
}
.cent{
    background-color:#DCDCDC;
    height:400px;
    width: 1110px;
    padding:15px 15px;
    position:absolute;
    margin-left: 50px;
    margin-top: -10px;
    opacity: 0.75;
}
.text1{
    margin-left: 60px;
    font-family:Calibri;
}
#micro{
    margin-top:110px;
    font-size:165%;
    font-weight: bold;
}
#des{
    position: absolute;
    margin-top:-10px;
    font-size:105%;
}
#but1{
    position: absolute;
    background-color: black;
    color:white;
    margin-top:308px;
    height: 40px;
    width: 160px;
    margin-left:-54px;
    border: 1px;
    font-weight: bold;
    text-align:center;
    font-size:100%;
}
#but2{
    position: absolute;
    background: none;
    color:black;
    margin-top:308px;
    height: 40px;
    width: 160px;
    margin-left:148px;
    border: 1px;
    font-weight: bold;
    text-align:center;
    font-size:100%;
}

#kart{
    position: absolute;
    margin-top:85px;
    margin-left:450px;
}
#pic1{
    position: absolute;
    margin-top:530px;
    margin-left: -129px;
}
body{
    margin-bottom:300px;
}
#pic2{
    position: absolute;
    margin-top:530px;
    margin-left: 163px;
}
#pic3{
    position: absolute;
    margin-top:530px;
    margin-left: 457px;
}
#pic4{
    position: absolute;
    margin-top:530px;
    margin-left: 748px;
}

.pic-aty{
    position: absolute;
    margin-top:650px;
    font-family:Calibri;
    font-weight: bold;
    font-size: 22.5px;
}
#aty-1{
    margin-left: 50px;
}
#aty-2{
    margin-left: 338px;
}
#aty-3{
    margin-left: 635px;
}

#aty-4{
    margin-left: 925px;
}
.pic-des{
    position: absolute;
    margin-top:687px;
    font-family:Calibri;
    font-size: 17px;
}
#des-1{
    margin-left: 50px;
}
#des-2{
    margin-left: 338px;
}
#des-3{
    margin-left: 635px;
}
#des-4{
    margin-left: 925px;
}
#blue-bu-1{
    position: absolute;
    color:royalblue;
    background: none;
    border:none;
    margin-top:795px;
    margin-left: -156px;
    height: 40px;
    width: 160px;
    font-weight: bold;
    text-align:center;
    font-size:100%;
}
#blue-bu-2{
    position: absolute;
    color:royalblue;
    background: none;
    border:none;
    margin-top:830px;
    margin-left: 125px;
    height: 40px;
    width: 160px;
    font-weight: bold;
    text-align:center;
    font-size:100%;
}
#blue-bu-2{
    position: absolute;
    color:royalblue;
    background: none;
    border:none;
    margin-top:840px;
    margin-left: 125px;
    height: 40px;
    width: 160px;
    font-weight: bold;
    text-align:center;
    font-size:100%;
}
#blue-bu-3{
    position: absolute;
    color:royalblue;
    background: none;
    border:none;
    margin-top:833px;
    margin-left: 434px;
    height: 40px;
    width: 160px;
    font-weight: bold;
    text-align:center;
    font-size:100%;
}
#blue-bu-4{
    position: absolute;
    color:royalblue;
    background: none;
    border:none;
    margin-top:833px;
    margin-left: 738px;
    height: 40px;
    width: 160px;
    font-weight: bold;
    text-align:center;
    font-size:100%;
}
#top-1:hover,#top-2:hover,#top-3:hover,#top-4:hover,#top2:hover,
#but1:hover,#but2:hover,#blue-bu-1:hover,
#blue-bu-2:hover,#blue-bu-3:hover,#blue-bu-4:hover{
    text-decoration: underline;
    cursor: pointer;
}

#logo:hover,#lupa:hover,#korzina:hover,#adam:hover,.cent:hover,#kart:hover{
    cursor: pointer;
}
#pic1:hover,#pic2:hover,#pic3:hover,#pic4:hover,.pic-aty,.pic-des{
    opacity:0.8;
    cursor: pointer;
}